In [ ]:
pip install selenium

In [ ]:
pip install pandas

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import pandas as pd
import time

driver = webdriver.Chrome() 

imdb_df = pd.DataFrame()

genres = ["Adventure","War","Sport","Crime","Biography"]

for genre in genres:
    IMDB_link = f"https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres={genre}"
    driver.get(IMDB_link)
    time.sleep(5)

    def Load_more():
        try:
            more_button = driver.find_element(By.XPATH,"""//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[2]/div/span/button""")
            ActionChains(driver).move_to_element(more_button).perform()
            more_button.click()
            time.sleep(10)
            return True
        except Exception as e:
            print("Error:",e)
            return False
        
    while Load_more():
        print("Loading_50more_movies")
    
    Movie_titles = []
    Movie_ratings = []
    Movie_time = []
    Movie_votings = []

    Movies_folder = driver.find_elements(By.XPATH,"""//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li""")

    for movies in Movies_folder:
        try:
            title = movies.find_element(By.XPATH,"""./div/div/div/div[1]/div[2]/div[1]/a/h3""").text   
            rate = movies.find_element(By.XPATH,"""./div/div/div/div[1]/div[2]/span/div/span/span[1]""").text
            duration = movies.find_element(By.XPATH,"""./div/div/div/div[1]/div[2]/div[2]/span[2]""").text
            vote = movies.find_element(By.XPATH,"""./div/div/div/div[1]/div[2]/span/div/span/span[2]""").text

            Movie_titles.append(title)
            Movie_ratings.append(rate)
            Movie_time.append(duration)
            Movie_votings.append(vote)

        except Exception as e:
            print(f"Error : {e}")
            continue

    df = pd.DataFrame({
        'Title' : Movie_titles,
        'Rating' : Movie_ratings,
        'Votes' : Movie_votings,
        'Duration' : Movie_time,
        'Genre' : genre
        })
    
        
    df['Title'] = df['Title'].str.replace(r'^\d+\,\s*', '', regex=True)
    df['Votes'] = df['Votes'].str.replace(r'[\(\)]', '', regex=True)


    df.to_csv(f"{genre}movies_2024.csv", index=False)

    imdb_df = pd.concat([imdb_df, df], ignore_index=True)


driver.quit()

In [ ]:
pip install mysql-connector-python

In [ ]:
pip install sqlalchemy

In [13]:
import pandas as pd
imdb_movie = pd.read_csv("finalised_movies.csv")

In [ ]:

import re

df = pd.read_csv("finalised_movies.csv")

def convert_duration_to_minutes(duration):
    if pd.isna(duration):
        return None
    duration = duration.lower().strip()
    hours = 0
    minutes = 0
    
    hr_match = re.search(r'(\d+)\s*(hr|hrs|hour|hours)', duration)
    if hr_match:
        hours = int(hr_match.group(1))
    
    
    min_match = re.search(r'(\d+)\s*(min|mins|minute|minutes)', duration)
    if min_match:
        minutes = int(min_match.group(1))
        
    

    total_minutes = hours * 60 + minutes
    return int(total_minutes)

# Function to convert votes like "53k" to 53000
def convert_votes(votes):
    if pd.isna(votes):
        return None
    votes = str(votes).lower().replace(',', '').strip()
    if 'k' in votes:
        return int(float(votes.replace('k', '')) * 1000)
    return int(votes)

# Apply transformations
if 'Duration' in df.columns:
    df['Duration'] = df['Duration'].apply(convert_duration_to_minutes)

if 'Votes' in df.columns:
    df['Votes'] = df['Votes'].apply(convert_votes)

# Save the cleaned dataframe
df.to_csv("cleaned2_file.csv", index=False)

In [20]:
df_movies = pd.read_csv("movies_cleaned.csv")

In [21]:
df_movies

,Title,Rating,Votes,Duration,Genre
0,Kraven the Hunter,5.5,53000,127,Action
1,Sonic the Hedgehog 3,6.9,58000,110,Action
2,Gladiator II,6.5,226000,148,Action
3,Twisters,6.5,166000,122,Action
4,Freaky Tales,7.2,1000,107,Action
...,...,...,...,...,...
4818,Morana,6.2,26,119,sci-fi
4819,StarGazer: The Need of the Many,5.0,9,47,sci-fi
4820,The Blinkless,7.8,12,59,sci-fi
4821,PW V: Tears of the Fallen,8.2,11,60,sci-fi
4822,The Clashing Elements: Saviors of the Multiverse,7.0,8,91,sci-fi

In [22]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd
head=mysql.connector.connect(host="gateway01.eu-central-1.prod.aws.tidbcloud.com",
                             user="p2aHuYniFSErmEa.root",password="NWD0BQJlfMc1Cgyu",port=4000)



tail = head.cursor()


tail.execute("CREATE DATABASE IF NOT EXISTS imdb")
print("âœ… Database 'imdb' created or already exists.")


tail.execute("USE imdb")

final_df = pd.read_csv("movies_cleaned.csv")



engine = create_engine("mysql+mysqlconnector://p2aHuYniFSErmEa.root:NWD0BQJlfMc1Cgyu@gateway01.eu-central-1.prod.aws.tidbcloud.com:4000/imdb")

final_df.to_sql("fivegenres_movie", con=engine, if_exists="replace", index=False)



head.close()
tail.close()

âœ… Database 'imdb' created or already exists.

True